@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">    
    @if (ViewBag.ShowLogo)
    {
        <img src="img/fhilogo.svg" style="width: 5.152rem; height: 2rem; margin-bottom: 40px" />
    }

    <h1 class="display-4">Welcome</h1>    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>    
</div>
